.toolbar {
    min-height: 22px;
    background-color: rgb(97, 112, 106);
    padding-top: 2px;
    padding-left: 2px;
    display: block;
}

button.inactive {
}

button.active {
    border: 1px solid rgb(200, 255, 200);
    color: rgb(200, 255, 200);
    background-color: rgb(30, 30, 30);
}

html, body, .app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app {
    background: rgb(20,20,20);
    color: rgb(220,220,220);
    overflow: auto;
    padding: 4px;
}

.maplet {
    display: inline-grid;
    border: 8px solid rgb(97, 112, 106);
    margin: 4px;
}

.map {
    width: 240px;
    height: 240px;
}

.map.portrait {
    width: 240px;
    height: 360px;    
}

.map.landscape {
    width: 360px;
    height: 240px;    
}

.map:full-screen
.map:-webkit-full-screen, 
.map:-ms-full-screen {
    width: 100%;
    height:100%;
}