html, body, .app, .quizlet {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.score {
    font-size: 48px;
    color: rgb(200, 100, 20);
    position: relative;
    font-family: "tahoma";
    display:inline;
    pointer-events: none;
}

div.score > label {
    padding: 20px;
    padding-right: 20px;
    -webkit-text-fill-color: rgb(200, 100, 20); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(200, 200, 200);
    pointer-events: none;
}

div.score > button {
    font-size: 20px;
    background-color: rgba(200, 200, 200, 0.2);
    border: 1px rgb(200, 200, 200);
    border-style: solid;
    color: rgb(200, 100, 20); /* Will override color (regardless of order) */    
    border-radius: 10px;
    border-radius: 24px;
    height: 48px;
    width: 48px;
    margin: 2px;
    pointer-events: visibleFill;
}

div.score > button:focus {
    outline: none;
}

div.score > button:hover {
    background-color: rgb(200, 200, 200);
}

.toolbar {
    min-height: 22px;
    background-color: rgb(97, 112, 106);
    padding-top: 2px;
    padding-left: 2px;
    display: block;
}

button.active {
    border: 1px solid rgb(200, 255, 200);
    color: rgb(200, 255, 200);
    background-color: rgb(30, 30, 30);
}

.app {
    background: rgb(20,20,20);
    color: rgb(220,220,220);
    overflow: auto;
    padding: 4px;
}

.maplet {
    display: inline-grid;
    border: 8px solid rgb(97, 112, 106);
    margin: 4px;
}

.maplet.inset {
    position:absolute;
    bottom:0;
    right:0;
    background: rgb(20, 20, 20);
}

@media (max-width: 960px) {
    .maplet.inset {
        display: none;
    }
}

.maplet.portrait {
    width: 240px;
    height: 360px;    
}

.maplet.landscape {
    width: 360px;
    height: 240px;    
}

.maplet.full {
    display: block;
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    border:none;
    padding:0;
    margin: 0;
}
